@charset "UTF-8";

.dragAndDropDiv {
	border: 2px solid #061e26;
	background-color:white;
	width: 795px;
	height: 200px;
	color: #061e26;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px 10px 10px;
	font-size: 200%;
	display: table-cell;
	overflow: auto;
}

.fileList {
	font-size: 13px;
}

#tabFileName {
	width: 610px;
	text-align: center;
}

#tabFileSize {
	width: 100px;
}

#tabFileDel {
	width: 50px;
}

.addTd {
	border: 1px solid white;
}

table, tr, td {
	background-color:white;
	border: 1px solid black;
	border-collapse: collapse;
}

.filename {
	font-size: 12px;
	text-align: left;
}

.filesize {
	font-size: 12px;
	color: #30693D;
}

.hide10 {
	display: none;
}

.delBtn {
	font-size: 10px;
	height: 100%;
}

.div1 {
	text-align: left;
}
.div2 {
	text-align: center;
}
